// tailwind.config.js
module.exports = {
  theme: {
    colors: {
      background: {
        light: '0 0% 100%',
        dark: '20 14.3% 4.1%',
      },
      foreground: {
        light: '20 14.3% 4.1%',
        dark: '60 9.1% 97.8%',
      },
      //...
    },
    borderRadius: {
      DEFAULT: '0.5rem',
    },
  },
  variants: {},
  plugins: [],
}
// styles.css
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--tw-color-background);
    --foreground: var(--tw-color-foreground);
    //...
  }

  :root[class~='dark'] {
    --background: var(--tw-color-background-dark);
    --foreground: var(--tw-color-foreground-dark);
    //...
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
 .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 w-full;
  }

 .flex-start {
    @apply flex justify-start items-center;
  }
 .flex-center {
    @apply flex justify-center items-center;
  }

 .flex-between {
    @apply flex justify-between items-center;
  }
 .h1-bold {
    @apply font-bold text-3xl lg:text-4xl;
  }

 .h2-bold {
    @apply font-bold text-2xl lg:text-3xl;
  }

 .h3-bold {
    @apply font-bold text-xl lg:text-2xl;
  }
}
